.login-container {
  min-height: calc(100vh - 70px - 50px); /* Adjust for header and footer height */
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f7f7f7;
}

.login-card {
  min-width: 320px;
  max-width: 400px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.login-form input {
  padding: 0.7em 1em;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
}
