.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  background: #fff;
  border-top: 1px solid #eee;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  font-size: 14px;
//   line-height: 22px;
  z-index: 100;
  color: #27ae60;
  max-height: 42px;
}
.footer__demo-link {
  color: #27ae60;
  text-decoration: none;
  font-weight: 500;
}
.footer__demo-link:hover {
  text-decoration: underline;
}
